extends layout

block content
  #wrapper
    .cen-i-top
      .cmp-hdr-lne
        p Projects / t2
      .cmp-tit-inf
        .ctl-tit-lft
          h1 T2 Board
        .ctl-tit-rit
          ul.ctl-ico-rit
            li
              i.fa.fa-bolt(aria-hidden='true')
            li
              i.fa.fa-star(aria-hidden='true')
            li
              i.fa.fa-ellipsis-h(aria-hidden='true')
        .clearfix
      .cmp-ser-grp
        .ctl-ser-lft
          .ctl-ser-flx
            .ctl-ser-pos
              .ctl-sub-box
                label(for='search')
                input#search.ctl-inp-box(type='search')
              .ctl-ser-ico
                .ctl-ico-bot
                  i.fa.fa-search(aria-hidden='true')
              .clearfix
            .ctl-ico-usr
              ul.ctl-flx-ico
                li
                  a(href='#!')
                    span.ctl-usr-bck FD
                li
                  a(href='#!')
                    span.ctl-usr-pls
                      i.fa.fa-user-plus(aria-hidden='true')
            .clearfix
        // <div class="ctl-grp-rit"></div>
        .clearfix
      .clearfix
    .cen-i-cen
      #external-events
        .ctl-hdr-top
          h2
            span unplanned
        #external-events-list
          .fc-event.fc-h-event.fc-daygrid-event.fc-daygrid-block-event
            .fc-event-main
              .ctl-com-blo
                .ctl-des-top
                  p Main order flow broken
                .ctl-tit-bot
                  .ctl-tit-lft
                    .ctl-chk-lft
                      label(for='drop-remove')
                      input#drop-remove(type='checkbox')
                    .ctl-txt-rit
                      span T2-1
                    .clearfix
                  .ctl-dur-rit
                    .ctl-dur-hor
                      h3 Duration: 1h 45m
                    .ctl-dur-dat
                      span Start: 20/11/09 T 8:00
                    .clearfix
                  .clearfix
                .ctl-usr-ovr
                  ul.ctl-flx-usr
                    li
                      a(href='#!')
                        span.ctl-usr-bck FD
                .clearfix
          .fc-event.fc-h-event.fc-daygrid-event.fc-daygrid-block-event
            .fc-event-main
              .ctl-com-blo
                .ctl-des-top
                  p Main order flow broken
                .ctl-tit-bot
                  .ctl-tit-lft
                    .ctl-chk-lft
                      label(for='drop-remove')
                      input#drop-remove(type='checkbox')
                    .ctl-txt-rit
                      span T2-1
                    .clearfix
                  .ctl-dur-rit
                    .ctl-dur-hor
                      h3 Duration: 1h 45m
                    .ctl-dur-dat
                      span Start: 20/11/09 T 8:00
                    .clearfix
                  .clearfix
                .ctl-usr-ovr
                  ul.ctl-flx-usr
                    li
                      a(href='#!')
                        span.ctl-usr-bck FD
                .clearfix
          .fc-event.fc-h-event.fc-daygrid-event.fc-daygrid-block-event
            .fc-event-main
              .ctl-com-blo
                .ctl-des-top
                  p Main order flow broken
                .ctl-tit-bot
                  .ctl-tit-lft
                    .ctl-chk-lft
                      label(for='drop-remove')
                      input#drop-remove(type='checkbox')
                    .ctl-txt-rit
                      span T2-1
                    .clearfix
                  .ctl-dur-rit
                    .ctl-dur-hor
                      h3 Duration: 1h 45m
                    .ctl-dur-dat
                      span Start: 20/11/09 T 8:00
                    .clearfix
                  .clearfix
                .clearfix
          .fc-event.fc-h-event.fc-daygrid-event.fc-daygrid-block-event
            .fc-event-main
              .ctl-com-blo
                .ctl-des-top
                  p Main order flow broken
                .ctl-tit-bot
                  .ctl-tit-lft
                    .ctl-chk-lft
                      label(for='drop-remove')
                      input#drop-remove(type='checkbox')
                    .ctl-txt-rit
                      span T2-1
                    .clearfix
                  .ctl-dur-rit
                    .ctl-dur-hor
                      h3 Duration: 1h 45m
                    .ctl-dur-dat
                      span Start: 20/11/09 T 8:00
                    .clearfix
                  .clearfix
                .clearfix
          .fc-event.fc-h-event.fc-daygrid-event.fc-daygrid-block-event
            .fc-event-main
              .ctl-com-blo
                .ctl-des-top
                  p Main order flow broken
                .ctl-tit-bot
                  .ctl-tit-lft
                    .ctl-chk-lft
                      label(for='drop-remove')
                      input#drop-remove(type='checkbox')
                    .ctl-txt-rit
                      span T2-1
                    .clearfix
                  .ctl-dur-rit
                    .ctl-dur-hor
                      h3 Duration: 1h 45m
                    .ctl-dur-dat
                      span Start: 20/11/09 T 8:00
                    .clearfix
                  .clearfix
                .ctl-usr-ovr
                  ul.ctl-flx-usr
                    li
                      a(href='#!')
                        span.ctl-usr-bck FD
                .clearfix
          .fc-event.fc-h-event.fc-daygrid-event.fc-daygrid-block-event
            .fc-event-main
              .ctl-com-blo
                .ctl-des-top
                  p Main order flow broken
                .ctl-tit-bot
                  .ctl-tit-lft
                    .ctl-chk-lft
                      label(for='drop-remove')
                      input#drop-remove(type='checkbox')
                    .ctl-txt-rit
                      span T2-1
                    .clearfix
                  .ctl-dur-rit
                    .ctl-dur-hor
                      h3 Duration: 1h 45m
                    .ctl-dur-dat
                      span Start: 20/11/09 T 8:00
                    .clearfix
                  .clearfix
                .ctl-usr-ovr
                  ul.ctl-flx-usr
                    li
                      a(href='#!')
                        span.ctl-usr-bck FD
                .clearfix
        .clearall
      #calendar-wrap
        #calendar
      .clearfix
    .clearall

