doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/utilities.css')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/core.css')
    link(rel='stylesheet', href='/libraries/font-awesome/css/font-awesome.min.css')
    script(src='/libraries/main.js')
    script(src='/js/script.js')
  body
    block content
