
#external-events {
    /*position: fixed;*/
    /*left: 20px;*/
    /*top: 20px;*/
    width: 23%;
    padding: 15px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
    box-sizing: border-box;
}

#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
}

#external-events .fc-event {
    margin-bottom: 10px;
    cursor: move;
}

#external-events p input {
    margin: 0;
    vertical-align: middle;
}

#calendar-wrap {
    width: 75%;
}

#calendar {
    max-width: 1100px;
    margin: 0 auto;
}
/*inline */

#wrapper{
    max-width:1300px;
    width:100%;
    margin: auto;
}
.clearall{
    display: block;
    content: "";
    clear: both;
}
.cen-i-top{
    margin-bottom: 25px;
}
.cmp-tit-inf{
    margin: 25px auto;
}
.cmp-hdr-lne p{
    color: #010101;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    text-transform: inherit;
    line-height: normal;
    letter-spacing: normal;
}

.cmp-tit-inf{
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.ctl-tit-lft,.ctl-tit-rit{
    width: 50%;
}
.ctl-tit-lft h1{
    color: #010101;
    font-size: 25px;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    text-transform: inherit;
    line-height: normal;
    letter-spacing: normal;
}
.ctl-ico-rit{
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.ctl-ico-rit li:not(:last-child){
    margin-right: 15px;
}
.ctl-ico-rit li i{
    font-size: 18px;
    color: #010101;
    cursor: pointer;
}

.ctl-sub-box label {
    display: none;
}

.ctl-ser-lft{
    width: 100%;
    /*width: 50%;*/
    /*float: left;*/
}
.ctl-grp-rit{
    width:50%;
    float: right;
}
.ctl-ser-flx{
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.ctl-ser-pos{
    position: relative;
}
.ctl-inp-box {
    color: #0b354f;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    text-align: left;
    text-transform: inherit;
    line-height: normal;
    letter-spacing: normal;
    border: 1px solid #778497;
    padding: 10px 10px;
    border-radius: 0;
    width: 100%;
    box-sizing: border-box;
}

.ctl-inp-box::placeholder {
    color: #0b354f;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: inherit;
    line-height: normal;
    letter-spacing: normal;
}

.ctl-inp-box:focus {
    box-shadow: none;
    outline: 0;
}
.ctl-ser-ico {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.ctl-ico-bot {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

.ctl-ico-bot i {
    color: #010101;
    font-size: 15px;
    cursor: pointer;
}
.ctl-ico-usr{
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 20px;
}
.ctl-flx-ico{
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.ctl-flx-ico li:not(:last-child){
    margin-right: 10px;
}
.ctl-usr-bck{
    background-color: #06a7b9;
    color: #010101;
}
.ctl-usr-pls{
    background-color: #dedee6;
    color: #010101;
}
.ctl-flx-ico li a{
    text-decoration: underline;
}
.ctl-flx-ico li a span{

    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-transform: inherit;
    line-height: normal;
    letter-spacing: normal;

    padding: 10px;
    border-radius: 50%;
}
#external-events{

    float: left;
}
#calendar-wrap{

    float: right;
}
.ctl-com-blo{
    position: relative;
    background-color: #ffffff;
    padding: 15px 15px;
    box-shadow: 0 0px 4px 1px #a6a6ab;
    border-radius: 6px;
}
.ctl-des-top{
    margin-bottom: 15px;
}
.ctl-des-top p{
    color: #0b354f;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    text-align: left;
    text-transform: inherit;
    line-height: normal;
    letter-spacing: normal;
}
.ctl-tit-bot{
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.ctl-hdr-top{
    margin-bottom: 15px;
}
.ctl-hdr-top h2 span{
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
    line-height: normal;
    letter-spacing: normal;
    color: #010101;
    background-color: #aeaeae;
    border:1px solid #cecfd1;
    display: inline-block;
    padding: 5px 15px;
}
.ctl-tit-lft{
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.ctl-tit-lft label{
    display: none;
}
.ctl-txt-rit span{
    color: #0b354f;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    line-height: normal;
    letter-spacing: normal;
    padding-left:10px;
}
.ctl-dur-hor h3{
    color: #010101;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    text-align: left;
    text-transform: inherit;
    line-height: normal;
    letter-spacing: normal;
}
.ctl-dur-dat span{
    color: #0b354f;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    text-transform: inherit;
    line-height: normal;
    letter-spacing: normal;

}
.ctl-dur-rit{
    margin-left: 20px;
}
.ctl-hdr-top {
    margin-bottom: 15px;
}
.ctl-hdr-top h2 span {
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
    line-height: normal;
    letter-spacing: normal;
    color: #010101;
    background-color: #aeaeae;
    border: 1px solid #cecfd1;
    display: inline-block;
    padding: 5px 15px;
}
.ctl-flx-usr{
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.ctl-flx-usr li:not(:last-child){
    margin-right: 10px;
}
.ctl-flx-usr li a span {
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    text-transform: inherit;
    line-height: normal;
    letter-spacing: normal;
    padding: 10px;
    border-radius: 50%;
    display: inline-block;
}
.ctl-usr-bck {
    background-color: #06a7b9;
    color: #010101;
}
.ctl-usr-ovr{
    position: absolute;
    top: 8px;
    right: 10px;
}